@font-face {
    font-family: 'DMSansRegular';
    src: url('fonts/DMSans-Regular.ttf') format('truetype'); /* Regular font */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DMSansBold';
    src: url('fonts/DMSans-Bold.ttf') format('truetype'); /* Bold font */
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'DMSansSemiBold';
    src: url('fonts/DMSans-SemiBold.ttf') format('truetype'); /* Bold font */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UnboundBold';
    src: url('fonts/Unbounded-Bold.ttf') format('truetype'); /* Unbounded Bold font */
    font-weight: bold;
    font-style: normal;
}





* {
margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DMSansRegular', sans-serif;
    }
    
    body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    }
    
    .container {
    width: 100%;
    max-width: 400px;
    padding: 2rem;
    position: relative;
    background: white;
    min-height: 100vh;
    }
    
    .logo-placeholder {
    width: 100px;
    height: 100px;
    margin: 0 auto ;
    }
    
    .logo-placeholder img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    }
    
    h1 {
    font-family: 'UnboundBold', sans-serif;
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    }
    
    h1 span {
    color: red;
    font-family: 'UnboundBold', sans-serif;
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    }
    
    .subtitle {
    text-align: center;
    font-size: 0.8rem;
    font-weight: 550;
    margin-bottom: 2rem;
    color: #333;
    }
    
    .form-group {
    margin-bottom: 1rem;
    }
    
    label {
    display: block;
    margin-top: 1rem;
    margin-bottom: 0.3rem;
    font-size: 0.9rem;
    }

    .form-group label {
        font-size: 0.8rem;
    }
    
    label.required::after {
    content: '*';
    color: red;
    margin-left: 2px;
    }
    
    input, select {
    width: 100%;
    padding: 0.75rem;
    border: 1.7px solid #000000;
    background-color: #ffffff;
    font-family:'DMSanRegular',sans-serif ;
    font-weight: 600;
    border-radius: 4px;
    font-size: 0.9rem;
    }

    select{
        width: 50%; 
        padding: 0.45rem;
    }
    
    .terms {
    display: flex;
    gap: 0.5rem;
    align-items: start;
    margin: 1.5rem 0;
    }
    
    .terms input {
    width: auto;
    margin-top: 3px;
    }
    
    .terms label {
    font-size: 0.8rem;
    margin: 0;
    }
    
    .terms a {
    color: red;
    text-decoration: none;
    }
    
    button {
    width: 100%;
    padding: 0.75rem;
    background: #ff0000;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    }

    .Loginsubmit{
        width : 55%;
        height: 85%;
    font-size: 0.8rem;
    }

    .instructions{
        display: block;

    }

    ul {
        margin-left: 10%;
    }

    ul li ,.IntroductionReady{
    margin : 1.3rem 0%;
    font-family: "DMSansSemiBold", sans-serif;
    font-weight:500;
    font-size: 0.75rem;
    }

    .IntroductionReady{
        margin-left: 10%;
        margin-bottom: 10%;
        }
    
    .background-text {
    position: absolute;
    bottom: 0;
    right: 0;
    font-weight: bold;
    z-index: 0;
    line-height: 1;
    }

    .GameOnButton{
        width: 50%;
        height: 85%;
        font-size: 0.8rem;
        margin-left: 25%;
    }

    #parentmap{
        border: 3px solid #ff0000;
        border-radius: 8px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        position: relative;
        height: 60vh;
    }
    #map
    { 
        border-radius: 8px;
        height: 100%;
        width:100%;
        mask-size: cover;
        position: absolute;
    }


    .HotColdIndicator{
        position: absolute;
        background: linear-gradient(to top, rgba(0, 0, 0,5) 0%, rgba(126, 126, 126, 0) 100%);
        height: 10%;
        width: 100%;
        bottom:0;
        border-radius: 6px;
    }


    .HotColdIndicator .Hot:after{
        content: "Hot Hot Hot";
        color: #ff0000;
        text-align: center;
        font-size: 1.2rem;
        margin-top: 1.5vh;
    }

    .HotColdIndicator .Hot{
        color: #ff0000;
        text-align: center;
        font-size: 1.2rem;
        margin-top: 1.5vh;
    }

    .HotColdIndicator .Cold{

        color: #ffffff;
        text-align: center;
        font-size: 1.2rem;
        margin-top: 1.5vh;
    }

    .HotColdIndicator .Cold:after{
        content: "Cold Cold Cold";

        color: #ffffff;
        text-align: center;
        font-size: 1.2rem;
        margin-top: 1.5vh;
    }


    .marker {
        display: block;
        border: none;
        border-radius: 50%;
        cursor: pointer;
        padding: 0;
        background-repeat: no-repeat;
    }

    .modal {
        
        position: fixed; 
        z-index: 1000; 
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
    }

    #WrongLocationModal{
        display: none; /* Hidden by default */
    }

    #CorrectLocationModal{
        display: none; /* Hidden by default */
    }

    #CorrectLocationModal .modal-content {
        padding : 30px;
    }

    .modal-content h1,.modal-content h1 span {
        font-size: 0.9rem;

    }

    .modal-content {
        background-color: #fff;
        margin: 80% auto; /* Centered vertically */
        padding: 20px;
        border-radius: 10px;
        width: 80%; /* Adjust width as needed */
        max-width: 600px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        animation: fadeIn 0.3s ease;
    }

    @keyframes fadeIn {
        from { opacity: 0; }
        to { opacity: 1; }
    }

    .modal-close {
        float: right;
        font-size: 1.5rem;
        font-weight: bold;
        color: #333;
        cursor: pointer;
    }

    .modal-close:hover {
        color: #000;
    }

    .modal-header {
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .modal-body {
        font-size: 0.8rem;
        line-height: 1.5;
        text-align: center;
    }
    .modal-body span {
        color: #ff0000;
        font-size: 0.85rem;
        line-height: 1.5;
        text-align: center;
    }

    .modal-footer {
        text-align: right;
        margin-top: 15px;
    }

    .modal-button {
        padding: 10px 20px;
        background-color: #007BFF;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }


h4{
    text-align: center;
}

h4 span{
    color: #ff0000;
}

.Voucher{
    color: #ff0000;
    padding: 5vh 0;
    font-size: 2rem;
}

.Top100{
    display: block;
    margin-top: 5vh;
}

.Above100{
    display: block;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.rightnow{
    text-align: left;
    font-weight: 500;
    color: #000;
    padding-bottom: 1.5vh;
}

.rightnow span{
    text-align: center;
    font-weight: bold;
    color: #ff0000;
    padding-bottom: 3vh;
}

#smallScreen{
    position: absolute;
    z-index: 1;
    right: 0;
    width: auto;
}